<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Website</title> 
</head>
<body>
  <h1>Website under maintenance</h1>
  <p>So sorry for this issue</p>
</body>
</html>